* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e0d8d8;
}

.separador  {
    background-color: #e0d8d8;
    color: #e0d8d8;
    padding: 20px;
}


.cabecalho {
    background-color: #3a2b2e;
border:rgb(255, 60, 0);
    color: white;
    text-align: center;
}

.cabecalho img {
    max-height: 300px;
}

.container {
    background-color: #83afb4;
    border-radius: 21px;
    padding: 27px;
    text-align: center;

}

.imagemexemplo {
    background-color: #41426d;
    padding: 7px;
    border-radius: 15px;
}

.imagemexemplo img {
    max-height: 300px;
    border-radius: 17px;
}

.containerex {
    background: #83afb4;
    font-size: 30px;
}

.containerex h1 {
    text-align: center;
}



.encerramento {
    background-color: #83afb4;
}
